body,
html {
	overflow-x: hidden;
	min-width: 228px;
}

.user_img {
    height: 60px;
    width: 60px;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.contacts li {
    width: 100% !important;
    overflow-x: hidden;
}

.img_cont {
    position: relative;
    height: 60px;
    width: 60px;
}

.countmsg {
	height: 25px;
	width: 25px;
}

.user_img_msg {
	height: 40px;
	width: 40px;
}

.img_cont_msg {
	height: 40px;
	width: 40px;
}

.contacts, .modal-body {
    padding:  0rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.search:focus{
    box-shadow: none !important;
    outline: 0px !important;
}

.msg_container {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 10px;
	background-color: lightgreen;
	padding: 10px;
	position: relative;
}

.msg_container_send {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 10px;
	background-color: lightblue;
	padding: 10px;
	position: relative;
}

.msg_time {
	position: absolute;
	left: 0;
	bottom: -15px;
	
	font-size: 10px;
}

.msg_time_send {
	position: absolute;
	right: 0;
	bottom: -15px;
	
	font-size: 10px;
}

.msg_head {
	position: relative;
	overflow: visible;
}

.messageArea {
	position: relative;
	overflow-y: scroll;
	height: 100%;
}

.card{
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.back-contacts {
    visibility: hidden;
}

.active {
    background-color: lightblue;
}

